/* CSS Document  */
/* Project name: TP Bootstrap */
/* File name: styles.css */
/* Description: Hoja de estilos global */
/* Creation date: ESCRIBIR-EL-MES de 2016 */
/* Author: MI-NOMBRE MI-APELLIDO */
/* Author's eMail: MI-EMAIL@SERVER.com */
/********** FONTS (Google-fonts) **********/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
body {
  font-family: "Roboto";
  margin: 0;
  background-color: #faffeb;
}

figure {
  margin: 0;
  line-height: 0;
}

a {
  outline: none !important;
  color: inherit !important;
}

/*************************************/
/*=========     HEADER     =========*/
/***********************************/
.navbar-default {
  background-color: #333333;
  border: none;
  position: relative;
  margin-bottom: 0;
}

.logo_surf img {
  height: 100px;
  float: left;
  margin-top: 25px;
  margin-bottom: 20px;
  transition: 250ms;
  opacity: 1;
}

.logo_surf:hover img {
  opacity: 0.25;
}

.navbar-right {
  margin-top: 50px;
}

.navbar-toggle {
  border: none;
  background-color: #333333;
  color: #fff;
  font-size: 15px;
}

.navbar-collapse {
  border-color: white;
  background-color: #333333;
}

.navbar-default .navbar-nav > li > a {
  color: #fff !important;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #00FFFF !important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #333333;
}

.navbar-default .navbar-toggle {
  margin-top: 60px;
}

/*************************************/
/*=========     BANNER     =========*/
/***********************************/
#banner {
  background-image: url(../images/banner_surf.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 150px 0 150px;
  margin-top: -1px;
}

#banner h1 {
  font-size: 60px;
  line-height: 58px;
  font-family: "Open Sans";
  font-weight: 700;
  letter-spacing: -3px;
  color: #fff;
  margin-top: 0;
}

#banner h4 {
  color: #fff;
}

#banner a {
  margin-top: 10px;
}

#banner .btn-info {
  background-color: #00FFFF;
  border-color: #00FFFF;
}

.banner-text {
  text-align: center;
}

/***************************************/
/*=========     HISTORIA     =========*/
/*************************************/
#historia {
  padding-top: 50px;
}

#historia h2 {
  color: #333333;
  font-family: "Open Sans";
  font-size: 60px;
  text-align: center;
  letter-spacing: -3px;
  font-weight: 700;
}

.historia-box {
  margin-top: 20px;
  padding: 50px;
}

.historia-box h3 {
  font-family: #CCCCCC;
  font-weight: 700;
  font-size: 40px;
  color: #333333;
}

.historia-box h4 {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 24px;
  color: #333333;
}

.historia-box img {
  width: 100%;
}

/****************************************/
/*=========     SURFERS     =========*/
/**************************************/
#surfers .surfer-left {
  padding: 0;
  background-color: #c60303;
}

#surfers .surfer-left h2 {
  margin-top: -120px;
  font-size: 60px;
  line-height: 58px;
  font-family: "Open Sans";
  font-weight: 700;
  letter-spacing: -3px;
  color: #fff;
  text-transform: uppercase;
}

#surfers .surfer-left h2 span {
  font-weight: 300;
}

#surfers .surfer-left h3 {
  padding: 25px;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
}

#surfers .surfer-right {
  padding: 0;
  background-color: #ff9900;
}

#surfers .surfer-right h2 {
  margin-top: -120px;
  font-size: 60px;
  line-height: 58px;
  font-family: "Open Sans";
  font-weight: 700;
  letter-spacing: -3px;
  color: #fff;
  text-transform: uppercase;
}

#surfers .surfer-right h2 span {
  font-weight: 300;
}

#surfers .surfer-right h3 {
  padding: 25px;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
}

#surfers .surfer-left-img img, #surfers .surfer-right-img img {
  width: 100%;
}

/***************************************/
/*=========     SPOTS     =========*/
/*************************************/
#Spots {
  padding-top: 50px;
}

#Spots h2 {
  color: #333333;
  font-family: "Open Sans";
  font-size: 60px;
  text-align: center;
  letter-spacing: -3px;
  font-weight: 700;
}

#Spots h3 {
  color: #333333;
  font-family: "Roboto";
  font-size: 24px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: uppercase;
}

#Spots img {
  width: 100%;
}

#Spots h4 {
  color: #fff;
  font-style: tahoma;
  font-size: 20px;
  font-family: "Open Sans";
  margin-top: 20px;
  margin-bottom: 20px;
}

#Spots p {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  font-family: "Open Sans";
  margin-bottom: 25px;
  font-weight: 300;
}

#Spots .spots-box {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px 10px;
  background-color: #c60303;
}

/****************************************/
/*=========     TRIPS    =========*/
/**************************************/
#Trips {
  padding: 30px 0;
  background-image: url(../images/Surf.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 150px 0 50px;
}

#Trips h2 {
  color: #06157d;
  font-style: tahoma;
  font-size: 60px;
  font-family: "Open Sans";
  margin-bottom: 50px;
}

#Trips h4 {
  color: #090101;
  font-style: tahoma;
  font-size: 25px;
  font-family: "Open Sans";
  margin-bottom: 20px;
}

#Trips .btn-GO {
  text-align: right;
  font-size: 18px;
  color: black !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Open Sans";
  border-color: #047910;
}

#Trips .btn-GO:hover {
  color: red !important;
}

/**************************************/
/*=========     CONTACT     =========*/
/************************************/
.main-Contact {
  padding: 30px 0;
}

.main-Contact .container {
  max-width: 1200px;
  /*border: dashed 3px rgb(18, 147, 58);*/
}

.main-Contact .form-control {
  display: block;
  width: 100%;
  color: #FFFFFF;
  background-color: black;
}

.main-Contact textarea {
  height: 160px;
  outline: none;
}

.main-Contact .btn-ENVIAR {
  text-decoration: none;
  background-color: #1e697a;
  width: 100px;
  line-height: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  transition: 450ms;
}

.main-Contact .btn-ENVIAR:hover {
  background-color: #0ba22c;
  width: 120px;
  color: #000;
}

/****************************************/
/*=========     FOOTER     =========*/
/**************************************/
#footer {
  background-color: #333333;
}

#footer p {
  font-family: "Open Sans";
  font-size: 14px;
  color: #CCCCCC;
}

#footer .mail {
  margin-top: 55px;
  font-weight: 300;
}

#footer .dato, #footer .dato2 {
  margin-top: -10px;
  font-weight: 700;
}

#footer .mail2 {
  margin-top: 20px;
}

#footer .redes {
  font-size: 32px;
  color: #CCCCCC;
  margin-top: 85px;
}

#footer .redes i {
  padding-right: 10px;
}

#footer .logo-footer {
  padding: 25px 0 15px;
}

/******************************************/
/*=========     MEDIA-QUERIES    =========*/
/******************************************/
@media (max-width: 768px) {
  .footer-text, .redes {
    text-align: center;
  }
  .redes {
    margin-bottom: 50px;
    margin-top: 10px !important;
  }
}

@media (min-width: 768px) {
  .banner-text {
    text-align: left;
  }
}

@media (min-width: 1170px) {
  .spots-box {
    height: 390px;
  }
}
